.file-icon {
    @apply flex flex-col items-center justify-center;
}

/* Optional: Custom file type colors */
.file-icon-pdf > svg {
    @apply text-red-500;
}

.file-icon-xlsx > svg,
.file-icon-xls > svg,
.file-icon-csv > svg {
    @apply text-green-600;
}

.file-icon-docx > svg,
.file-icon-doc > svg {
    @apply text-blue-600;
}

.file-icon-pptx > svg,
.file-icon-ppt > svg {
    @apply text-orange-500;
}

.file-icon-zip > svg,
.file-icon-rar > svg {
    @apply text-yellow-600;
}

/* Smooth image loading */
.file-preview-image {
    @apply transition-opacity duration-200;
}

.file-preview-image[loading] {
    @apply opacity-0;
}

.file-preview-image[loaded] {
    @apply opacity-100;
}
