/* .btn,
a.btn {
    @apply transition duration-150 ease-in-out;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    border: 1px transparent solid;

    &.btn-primary {
        background-color: blue;
        color: #fff;
    }
} */

.btn,
a.btn,
.fc-button,
.ui-full-calendar .fc-button {
    @apply inline-flex items-center px-3 py-2 text-sm font-medium leading-4 transition duration-150 ease-in-out border border-transparent rounded-md;

    &:disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    &.btn-is-loading,
    &.btn-is-loading:disabled {
        @apply cursor-wait;
    }

    &.btn-xs {
        @apply px-2.5 py-1.5 text-sm leading-4 font-medium rounded-md;
    }

    &.btn-sm {
        @apply px-3 py-2 text-sm font-medium leading-4 rounded-md;
    }

    &.btn-md {
        @apply px-4 py-2 text-sm font-medium leading-5 rounded-md;
    }

    &.btn-lg {
        @apply px-4 py-2 text-base font-medium leading-6 rounded-md;
    }

    &.btn-xl {
        @apply px-6 py-3 text-base font-medium leading-6 rounded-md;
    }

    &.btn-link {
        @apply border-0 outline-0 shadow-none px-0 py-0;
    }

    &.btn-default {
        @apply bg-white border-gray-300 shadow-sm;
        &:hover {
            @apply text-gray-500;
        }
        &:focus {
            @apply border-gray-300 outline-0;
        }
        &:active {
            @apply text-gray-800 bg-gray-50;
        }
    }

    &.fb-button-primary,
    &.btn-primary {
        @apply text-white bg-sky-500 border-sky-500 shadow;
        &:hover:not(:disabled) {
            @apply bg-sky-400;
        }
        &:focus {
            @apply outline-0 border-sky-600;
        }
        &:active {
            @apply bg-sky-600;
        }
    }

    &.fb-button-success,
    &.btn-success {
        @apply text-white bg-green-500 border-green-600 shadow-sm;
        &:hover:not(:disabled) {
            @apply bg-green-400;
        }
        &:focus {
            @apply outline-0 border-green-600;
        }
        &:active {
            @apply bg-green-600;
        }
    }

    &.btn-magic {
        @apply text-white bg-indigo-600 border-indigo-700 shadow-sm;
        &:hover:not(:disabled) {
            @apply bg-indigo-500 text-white;
        }
        &:focus {
            @apply outline-0 border-indigo-700;
        }
        &:active {
            @apply bg-indigo-700;
        }
    }

    &.btn-secondary {
        @apply text-blue-500 bg-blue-100 border-blue-300 shadow-sm;
        &:hover:not(:disabled) {
            @apply bg-blue-50;
        }
        &:focus {
            @apply border-blue-300 outline-0;
        }
        &:active {
            @apply bg-blue-200;
        }
    }

    &.btn-danger {
        @apply text-white bg-red-600 border-red-700 shadow-sm;
        &:hover:not(:disabled) {
            @apply bg-red-500;
        }
        &:focus {
            @apply border-red-700 outline-0;
        }
        &:active {
            @apply bg-red-700;
        }
    }

    &.btn-warning {
        @apply text-white bg-yellow-500 border-yellow-600 shadow-sm;
        &:hover:not(:disabled) {
            @apply bg-yellow-400;
        }
        &:focus {
            @apply border-yellow-600 outline-0;
        }
        &:active {
            @apply bg-yellow-600;
        }
    }

    &.btn-is-loading {
        & .btn-loading-icon-wrapper {
            & > svg {
                animation: fa-spin 1s infinite linear;
            }
        }
    }

    &.btn-transparent-border {
        border-color: transparent !important;
    }
}

.btn-wrapper {
    &.btn-block {
        @apply block w-full;

        & > .btn {
            @apply relative justify-center w-full text-center;

            & .btn-icon-wrapper {
                @apply absolute inset-y-0 left-0 flex items-center pl-3;
            }
        }
    }

    &.btn-flex {
        @apply flex;
    }
}

.order-action-button {
    @apply h-16 flex flex-col items-center justify-center border border-gray-200 bg-white text-gray-800 rounded-md shadow-sm truncate;

    &.strict-width {
        @apply w-16;
    }

    & span {
        @apply truncate;
    }

    &.success {
        @apply bg-green-600 border-green-500 text-green-900;
    }

    &.danger {
        @apply bg-red-600 border-red-500 text-red-900;
    }

    &.warning {
        @apply bg-yellow-600 border-yellow-500 text-yellow-900;
    }
}

button.integrated-vendor-button,
.integrated-vendor-button {
    @apply flex flex-col items-center justify-center border border-gray-200 p-4 rounded-md outline-0;

    &:focus,
    &:active,
    &:visited {
        @apply border-gray-200 outline-0;
    }

    &.selected {
        @apply border-blue-500 outline-offset-2 outline-blue-500;
    }
}

/** 
 * Dark Theme Styles
 * 
 * body[data-theme="dark"]
 */
body[data-theme='dark'] {
    & .ui-full-calendar .fc-button,
    & .fc-button,
    & .btn {
        &.btn-default {
            @apply text-gray-300 bg-gray-700 border-gray-900 shadow;
            &:hover:not(:disabled) {
                @apply text-gray-200 bg-gray-600;
            }
            &:focus {
                @apply outline-0;
            }
            &:active {
                @apply text-gray-300 bg-gray-600;
            }
        }

        &.btn-link {
            @apply text-gray-100;

            &.dd-is-open,
            &:hover,
            &:active {
                @apply text-gray-50 text-opacity-50;
            }
        }

        &.btn-primary {
            @apply border-gray-900 shadow;
        }

        &.btn-magic {
            @apply border-gray-900 shadow;
        }

        &.btn-secondary {
            @apply border-gray-900 shadow;
        }

        &.btn-warning {
            @apply border-gray-900 shadow;
        }

        &.btn-danger {
            @apply border-gray-900 shadow bg-red-700;
            &:hover:not(:disabled) {
                @apply bg-red-600;
            }
        }
    }
}

body[data-theme='dark'] {
    & .order-action-button {
        @apply border-gray-700 bg-gray-800 text-gray-100;
    }
}

body[data-theme='dark'] {
    & button.integrated-vendor-button,
    & .integrated-vendor-button {
        @apply border-gray-700;

        &:focus,
        &:active,
        &:visited {
            @apply border-gray-700;
        }
    }
}

a.btn.hidden,
.btn.hidden {
    display: none;
}