.horizontal-route-scroller {
    @apply border-t-4 border-blue-300 px-5 relative;

    &--scollbar {
        @apply w-full flex flex-row relative overflow-x-scroll pt-20 -mt-20;
        pointer-events: none;
    }

    &:before {
        @apply text-blue-400;
        content: '⬤';
        position: absolute;
        top: 0;
        left: -5px;
        margin-top: -1rem;
        font-size: 1.25rem;
    }

    &:after {
        @apply text-blue-400;
        content: '⬤';
        position: absolute;
        top: 0;
        right: -5px;
        margin-top: -1rem;
        font-size: 1.25rem;
    }

    & .horizontal-route {
        @apply flex flex-col items-center;
        pointer-events: all;
        margin-top: -.5rem;

        &.is-destination {
            & > .notch {
                @apply bg-blue-600;
            }
        }

        & > .notch {
            @apply w-3 h-3 bg-gray-100 rounded-full m-auto mb-5;
        }

        & > .place {}
    }
}