pre[class*='language-'] {
    @apply px-3 py-0 m-0 font-mono text-xs bg-transparent;

    & .line-numbers-rows {
        @apply border-r-0;

        & span {
            @apply text-gray-200;
        }
    }
}

.content-panel-body {
    & pre[class*='language-'] {
        @apply overflow-y-hidden;
    }
}

body[data-theme='dark'] pre[class*='language-'] {
    & code[class*='language-'],
    & pre[class*='language-'] {
        text-shadow: 0 1px #161f2e;
    }

    & .token.operator,
    & .token.entity,
    & .token.url,
    & .language-css .token.string,
    & .style .token.string {
        @apply text-gray-100 bg-transparent;
    }

    & .token.property,
    & .token.tag,
    & .token.boolean,
    & .token.number,
    & .token.constant,
    & .token.symbol,
    & .token.deleted {
        color: #ff6bbd;
    }

    & .token.atrule,
    & .token.attr-value,
    & .token.keyword {
        color: #89dbff;
    }

    & .token.selector,
    & .token.attr-name,
    & .token.string,
    & .token.char,
    & .token.builtin,
    & .token.inserted {
        color: #baff2f;
    }
}
