* {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

body {
    --sb-track-color: #111827;
    --sb-thumb-color: #374151;
    --sb-thumb-hover-color: rgba(55, 65, 81, .5);
    --sb-size: 7px;
}

::-webkit-scrollbar {
    width: var(--sb-size);
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--sb-thumb-hover-color);
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}
