<div class="sidebar-toggle-button-wrapper flex-shrink-0 {{if this.isSidebarVisible "sidebar-is-visible"}}" ...attributes>
    <button type="button" {{on 'click' this.toggleSidebar}} class="sidebar-toggle-button next-org-button-trigger">
        <svg id="sidebar-toggle-icon" version="1.1" viewBox="0 0 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path
                d="M45.38,9.81H4.62c-1.65,0-3,1.35-3,3v26.1c0,1.65,1.35,3,3,3h40.76c1.65,0,3-1.35,3-3v-26.1C48.38,11.16,47.03,9.81,45.38,9.81z M3.62,38.91v-26.1c0-0.55,0.45-1,1-1H16.5v28.1H4.62C4.07,39.91,3.62,39.46,3.62,38.91z M46.38,38.91c0,0.55-0.45,1-1,1H18.5v-28.1h26.88c0.55,0,1,0.45,1,1V38.91z M5.74,17.5c0-0.55,0.45-1,1-1h6.35c0.55,0,1,0.45,1,1s-0.45,1-1,1H6.74C6.19,18.5,5.74,18.05,5.74,17.5z M14.1,22.52c0,0.55-0.45,1-1,1H6.74c-0.55,0-1-0.45-1-1s0.45-1,1-1h6.35C13.65,21.52,14.1,21.97,14.1,22.52z M14.1,27.54c0,0.55-0.45,1-1,1H6.74c-0.55,0-1-0.45-1-1s0.45-1,1-1h6.35C13.65,26.54,14.1,26.99,14.1,27.54z"
            ></path>
        </svg>
    </button>
</div>