<div class="two-factor-enforcement-message" {{on "click" this.handleClick}}>
    <p class="message">
        For enhanced security, your organization enforces Two-Factor Authentication (2FA) settings. Please enable 2FA in your account settings to add an extra layer of protection to your
        account.
    </p>
</div>