{{#if (media 'isMobile')}}
    <div class="next-mobile-navbar" {{did-insert this.setupMobileNavbar}} ...attributes>
        <div role="menubar" class="next-mobile-navbar-tabs">
            <ExtensionsList @extensions={{@extensions}} @onAction={{@onAction}} @itemClass="next-mobile-navbar-tab-item" class="scrollable-nav-items" />
            <a href="javascript:;" class="next-mobile-navbar-tab-item menu-toggle" role="menuitem" {{on "click" this.toggleSidebar}}>
                <FaIcon @icon="bars" @prefix="fal" @size="lg" class="text-gray-800 dark:text-gray-100" />
                <span>Menu</span>
            </a>
        </div>
    </div>
{{/if}}