body[data-theme='dark'] {
    @apply bg-gray-800;

    & .section-header {
        & .section-header-title {
            @apply text-gray-300;
        }
    }

    & a:not([class*='text-']) {
        cursor: default !important;
        @apply no-underline text-gray-50;

        &:hover {
            @apply text-gray-50;
        }
    }

    /* & p:not([class^='text-']),
    & p:not([class^='dark\:text-']),
    & p:not([class*='text-']),
    & p:not([class*='dark\:text-']) {
        @apply text-gray-50;
    } */

    & .box-divider {
        box-shadow: inset 1px 0 #2b323e;
    }

    & ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}
