<div class="filter-string" {{did-insert this.setupComponent}} ...attributes>
    <Input @value={{@value}} placeholder={{@placeholder}} {{on "input" this.onChange}} class="form-input form-input-sm flex-1" />
</div>