<div class="filter-string" {{did-insert (fn this.setupComponent)}} ...attributes>
    <Input @value={{this.value}} placeholder={{@placeholder}} {{on "input" (fn this.onChange)}} class="form-input form-input-sm flex-1" />
</div>